/* https://hangeul.naver.com/fonts/search?f=nanum (나눔고딕 D2coding) */
@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic-coding.css');
@import 'tailwindcss';

@plugin 'daisyui' {
	themes:
		retro --default,
		black --prefersdark;
}

@config '../tailwind.config.js';

@custom-variant h-sm (@media (min-height: 480px));
@custom-variant h-md (@media (min-height: 640px));
@custom-variant h-lg (@media (min-height: 768px));

/* Site globals */
@layer base {
	html {
		/* Smooth scrolling and scroll padding for headings */
		@apply scroll-pt-4 scroll-smooth;
		/* Fonts */
		font-family:
			'NanumGothicCodingLigature', 'NanumGothicCodingLigatureBold', 'NanumGothicCoding',
			'NanumGothicCodingBold', ui-monospace;
	}

	/* Give some space between text and underline */
	a {
		@apply underline-offset-4;
	}

	/* Customize scrollbar */
	::-webkit-scrollbar {
		@apply h-2 w-2;
	}
	::-webkit-scrollbar-track {
		@apply bg-base-100;
	}
	::-webkit-scrollbar-thumb {
		@apply bg-secondary hover:bg-[color-mix(in_oklab,oklch(var(--s)),black_7%)];
	}

	/* Highlight styling for search results */
	.search-highlight {
		@apply bg-warning text-warning-content rounded-xs px-1 font-bold;
	}
}

/* Customize typography */
@layer base {
	/* Remove blockquote styling to use it as callout */
	.prose blockquote {
		font-style: normal !important;
		font-weight: 400;
	}
	.prose blockquote p:first-of-type::before {
		content: none !important;
	}
	.prose blockquote p:last-of-type::after {
		content: none !important;
	}

	/* No underline for heading links (like autolinked headings) */
	.prose :where(h1, h2, h3, h4, h5, h6) a {
		@apply no-underline!;
	}

	/* Link icon for links */
	.prose :where(a[href^='http']):not(:where(h1, h2, h3, h4, h5, h6) > a)::before {
		content: '🔗';
		margin-right: 0.15em;
		font-size: 0.85em;
		display: inline-block;
	}

	/* Center figure caption */
	.prose figure figcaption {
		@apply text-center;
	}

	/* Center image and add shadow for visual recognition */
	.prose img {
		@apply mx-auto shadow-md;
	}

	/* Visual spacing above headings when scrolling */
	.prose :where(h1, h2, h3, h4, h5, h6) {
		@apply scroll-mt-16 md:scroll-mt-24 lg:scroll-mt-32;
	}

	/* Footnote link spacing and scroll margin */
	.prose [id^='user-content-fnref-'] {
		@apply mr-0.5 ml-1;
		@apply scroll-mt-16 md:scroll-mt-24 lg:scroll-mt-32;
	}

	/* Show '#' on the left of heading links when hover */
	.prose :where(h1, h2, h3, h4, h5, h6) > a:hover {
		@apply before:text-secondary before:absolute before:-ml-6 before:underline before:underline-offset-4 before:content-['#'];
	}

	/* Pre formatting */
	.prose pre {
		@apply m-2 p-0 text-wrap;
	}

	/* Center Mermaid diagram horizontally */
	.prose pre.mermaid svg {
		@apply mx-auto p-2;
	}
}
